./data_sketch
data_sketch
/data_sketch

gym-trading (2).ipynb
ibovespa.ipynb

# /render_logs
# /models

env
.venv
./.venv
/.venv

./djones.ipynb
/djones.ipynb
djones.ipynb
.djones.ipynb

s&p500.ipynb
./s&p500.ipynb
/s&p500.ipynb
.s&p500.ipynb

./sp_500_job
sp_500_job

data_oficial

dowjones_jobs
ibovespa_jobs
render_log

models_folder

djones_notebook.ipynb
s&p500_notebook.ipynb
