./data_sketch
data_sketch
/data_sketch

gym-trading (2).ipynb
ibovespa.ipynb

# /render_logs
# /models

env
.venv
./.venv
/.venv

mailer.py
./djones.ipynb
/djones.ipynb
djones.ipynb
.djones.ipynb

s&p500.ipynb
./s&p500.ipynb
/s&p500.ipynb
.s&p500.ipynb

./sp_500_job
sp_500_job
